* {
    margin-left: 20px;
    margin-right: 20px;
}

h1,
.titulo2 {
    text-align: center;
}

body {
    background-color: rgb(86, 86, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 14px;
    text-align: justify;
}

.imagem {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.receita {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}